$color-green: rgb(7, 51, 7);
$color-light-yellow: rgb(247, 203, 8);
$color-light-pink: rgb(202, 142, 106);
$color-light-blue: rgb(22, 144, 153);
$color-white: #fff;
$color-dark-blue: rgb(0, 54, 85);
$color-dark-pink: rgb(182, 44, 74);

.bookDetails {
  background-color: rgb(61, 57, 44);
  width: 70%;
  margin: 10rem auto;
  // height: 60rem; // will be removed later
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 6rem;
  transform: translate(
    -50%,
    -65%
  ); // this aligns the center of the popup to the center of the screen
  background-image: linear-gradient(
    130deg,
    rgba($color-green, 0.7) 30%,
    rgba($color-light-blue, 0.45) 50%,
    rgba($color-light-yellow, 0.85) 96%
  );
}

//details is the container inside the popup.
.details {
  // background-color: rgb(212, 185, 133);
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: $color-white;

  &__key__val {
    display: flex;
    font-size: 2rem;

    & h3 {
      display: inline-block;
    }
  }
  &__head {
    margin-left: 20%;
    width: 16rem; // this is for proper alignment for responsive design
    text-decoration: underline;
    text-underline-position: under; // provides a slight gap between text and the line
    letter-spacing: 1px;
  }
  &__name {
    font-style: italic;
    letter-spacing: 1px;
  }

  &__det {
    margin-left: 10%;
    letter-spacing: 0.8px;
    text-decoration: underline;
    text-underline-position: under;
  }
  // &__name {
  //   margin-left: 19.4%;
  // }
  &__desc {
    // background-color: wheat;
    max-width: 50%;
    // margin-left: 15%;
    line-height: 3.5rem;
    letter-spacing: 0.3px;
    text-decoration: none;
  }
}

//buttons

.btn__container {
  // background-color: orange;
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 3rem auto;
  flex-wrap: wrap;
}

.btn {
  background-color: $color-dark-blue;
  width: 13rem;
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
  margin: 2rem;
  transition: all 0.4s;

  &:hover {
    background-color: darken($color-dark-blue, 10%);
  }
}
