html {
  /* root font-size . This defines what 1rem is - which is 10px (easier for calculation based on this) */
  /* Default is 16px but we need a % equal to 10px (1rem) which is 10/16 which is 62.5% */
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  /* paddings and margins must abide by the size of the component, so setting it to border-box and not content-box */
  box-sizing: border-box;
  padding: 0rem;
  color: #777;
}
