$color-dark-pink: rgb(182, 44, 74);
$color-light-yellow: rgb(247, 203, 8);
$color-book-background: rgba(245, 237, 237, 0.815);
$color-fiction-background: rgba(248, 250, 245, 0.815);
$color-mystery-background: rgba(243, 239, 239, 0.897);
$color-fantasy-background: rgba(245, 237, 237, 0.815);
$color-grey: rgba(105, 90, 90, 0.815);
$color-black: rgb(0, 0, 0);
$color-white: #fff;
$color-green: rgb(7, 51, 7);
$color-light-pink: #ca8e6a;

// also default for Love-Fantacy book category
.book {
  &__main {
    cursor: pointer;
    &:hover {
      background-color: lighten($color: $color-dark-pink, $amount: 50%);
    }
  }
  background-color: $color-book-background;
  display: inline-block;
  width: 25rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.15);
  margin: 5rem;

  &__details {
    padding: 0.5rem;

    &__ul {
      list-style: none;
      width: 80%;
      padding-inline-start: 0%;
      text-align: center;
      margin: 0 auto;

      & li {
        width: 80%;
        font-size: 1.5rem;
        padding: 1.3rem;
        &:first-child {
          font-weight: 700;
          font-size: 1.6rem;
        }
        &:not(:last-child) {
          border-bottom: 0.1rem solid
            lighten($color: $color-dark-pink, $amount: 30%);
        }
      }
    }
  }
  &__head {
    font-weight: 700;
  }
}

.header {
  height: 18rem;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  background-size: cover;
  // background-image: url(../images/love-fantacy.jpeg);

  &__img {
    width: 100%;
    height: 100%;
  }

  &__heading {
    position: absolute;
    background-image: linear-gradient(
      to bottom right,
      rgba($color-dark-pink, 1),
      rgba($color-light-pink, 0.85)
    );
    color: $color-white;
    top: 9rem;
    right: 1rem;
    text-transform: uppercase;
    padding: 2rem;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    font-style: italic;
  }
}

.button__container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;

  &__red {
    background-color: lighten($color-dark-pink, 10%);
    margin: 2rem 0;
    &:hover {
      background-color: $color-dark-pink;
    }
  }
}

// Book styles based on react props (these styles are based on category)
.fiction {
  background-color: $color-fiction-background;
  &__main {
    cursor: pointer;
    &:hover {
      background-color: lighten($color: $color-green, $amount: 83%);
    }
  }
  &__heading {
    background-image: linear-gradient(
      to bottom right,
      rgba($color-green, 1),
      rgba($color-light-yellow, 0.45)
    );
  }

  &__details {
    &__ul {
      & li {
        &:not(:last-child) {
          border-bottom: 0.1rem solid
            lighten($color: $color-green, $amount: 35%);
        }
      }
    }
  }
}

.mystery {
  background-color: $color-mystery-background;
  &__main {
    cursor: pointer;
    &:hover {
      background-color: lighten($color: $color-grey, $amount: 43%);
    }
  }
  &__heading {
    background-image: linear-gradient(
      to bottom right,
      rgba($color-grey, 1),
      rgba($color-black, 0.2)
    );
  }

  &__details {
    &__ul {
      & li {
        &:not(:last-child) {
          border-bottom: 0.1rem solid lighten($color: $color-grey, $amount: 25%);
        }
      }
    }
  }
}
